*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header,
main,
nav,
footer,
section {
     display: block;
}


#Brand img{
    display: block;
    margin-left: 89px;
    margin-top: 67px;
    border-radius: 15px;

} 
#Brand button{
    border: none;
   margin-left: 50px;
   margin-top: 45px;
   margin-bottom: 55px;
   width: 160px;
   height: 50px;
   background: #ffffff;
   border-radius: 6px;
   color:#ED4C5C;
   font-family: Lato;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
} 



#bbb{
   background-color: white;
   margin-left: 50px;
    margin-top: 56px; 
}

#brand2{
   
width: 445px;
height: 89px;
font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 36px;
color: #000000;

} 

#bbb p{
   width: 445px;
   height: 83px;
   margin-top: 30px;
   margin-bottom: 20px;
}


#cr7{
  
   color: red;
}

#brand3   div{
   margin-top: -40px;
}
div button{
   box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   width: 350px;
   height: 40px;
   color: red;
   background: white;
   border: none;
   margin-right: 30px;
   margin-bottom: 63px;
}

#brand3 img{
   margin-top: 40.72px;
  color: red;
} 

#brand4{
   
   margin-left : 30px;
} 
#brand5{
 
   width: 350px;
  height: 248.86px;
   border-radius: 8px;
   margin-left : 30px;
} 
#brand6{
   position: absolute;
   width: 350px;
   height: 40px;
   background: #FFFFFF;
   box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
}


.section3{
   padding-left: 50px;
    width: 100%;
    background: #F5F4F4;
    margin-top: 64px; 
    
     height: 657px; 
}
.section3 h2{
   width: 300px;
   height: 47px;
   margin-top: 57px; 
   padding-top: 57px;
   font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;

color: #000000;

}
.section3 button{
  
   margin-right: 30px;
   border: none; 
   background: #FFFFFF;
  
   width: 255px;
height: 226px;

}
.button1{
   text-align: center;
   margin-top: 56px;
}
.button1 img{

   margin-top: 71px;
  
}
.button1 h3{


   margin-top: 12px;
   margin-bottom: 10px;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 18px;
color: #101010;

}
.button1 p{

   font-size: 12px;
   width: 191px;
   height: 51px;
   padding-left:34px ;
   margin-bottom: 10px;
   
}


.footeer1 {
   width: 1440px;
  height: 80px;
   background: #ED4C5C;
}
.footeer1 img{
   margin-left: 50px;
     padding-top: 29px; 
   
}
.footeer1 span{

   vertical-align:center ;
    margin-left: 80px; 
    margin-bottom: 23px; 
    color: #FFFFFF;
    font-family: Lato;
    font-size: 24px;
}
.adam{
   background-color: #ED4C5C;
   color: #FFFFFF;
}
header{
   padding-top: 60px;
   width: 100%;
   color : #FFFFFF
}

nav{
   
   color: #FFFFFF;
   margin-left: 49px; 
   margin-top: 70px;
}
nav a{
   color: white;
   margin-right: 20px;
} 


#logo {
  display: block;
   background-image: url("../images/cloud.png");
   background-repeat: no-repeat;
   margin-left: 51.45px;
  
}



#logo span{
   padding-top: 50px;
   font-size: 18px;
   margin-left: 34.55px;
  color: #FFFFFF;
}  
